#display #city-and-date span {
    font-size: .75em;
}

#city-and-date img {
    position: absolute;
    bottom: 0;
}

#city-and-date aside {
    position: absolute;
    bottom: 4px;
    right: 10px;
    font-size: .5em;

}

#city-and-date aside img {
    position: static;
    width: 30px;
    margin-left: 6px;
    margin-bottom: .2em;
}

.card li img {
    position: absolute;
    margin-left: 4px;
    top: 0;
    right: 2px;
    width: 40px;
}

#city-and-date {
    position: relative;
}

.card li {
    position: relative;
    background-color: #cccccc;
}

li.btn-warning {
    width: 100%;
}

#alerts strong {
    display: block;
    
}

#alerts {
    text-align: center;
    font-size: .8em;
    line-height: 1.2em;
    justify-content: center;
}

#previous-searches .close:hover span {
    font-weight: 800;
}

.nighttime {
    background-color: #0c0044;
    color: rgb(255, 255, 255);
}

.sunny {
    background-color: rgb(61, 126, 246);
    color: rgb(255, 255, 255);
}

.partlysunny {
    background-color: rgb(88, 125, 194);
    color: rgb(255, 255, 255);
}

.snow {
    background-color: white;
    color: black;
    border: 1px solid #cccccc;
}

.overcast {
    background-color: lightslategray;
    color: #eeeeee;
}