#display #city-and-date span {
    font-size: .75em;
}

#city-and-date img {
    position: absolute;
    bottom: 0;
}

.card li img {
    position: absolute;
    margin-left: 4px;
    top: 0;
    right: 2px;
    width: 40px;
}

#city-and-date {
    position: relative;
}

.card li {
    position: relative;
    background-color: #cccccc;
}

li.btn-warning {
    width: 100%;
}

.nighttime {
    background-color: #cccccc;
    color: black;
}

.sunny {
    background-color: cornflowerblue;
    color: gold;
}

.overcast {
    background-color: lightslategray;
    color: #eeeeee;
}